$ig-screen-sm-min: 768px !default;
$ig-white: #fff !default;
$ig-black: #222 !default;
$ig-blue: #337ab7 !default;
$ig-background-black: rgba(0, 0, 0, .4) !default;

@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

.hpContentBanner {
  @include vendor-prefix('user-select', none);
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hpContentBanner-content {
  position: relative;
  line-height: normal;
}

.hpContentBanner-slide {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &.center {
    position: relative;
  }

  img {
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center 0;
    object-position: center 0;
    width: 100%;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    opacity: 1;

    &[data-src] {
      opacity: 0;
    }

    &.loaded {
      -webkit-transition: opacity .3s;
      transition: opacity .3s;
      opacity: 1;
    }
    
    &.notLoaded {
      opacity: 0;
    }
  }

  .hpContentBanner-description {
    background: $ig-background-black;
    bottom: 70px;
    color: $ig-white;
    left: 0;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    transition: all .45s ease-out;
    white-space: normal;

    @media (max-width: $ig-screen-sm-min) {
      bottom: 45px;
      font-size: .8em;
      padding: 8px 15px;
    }

  }
}
